# PostgreSQL Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/bumdes_pos?schema=public"

# Better Auth Secret & Base URL
BETTER_AUTH_SECRET="bumdes_pos_super_secret_session_key_2026_xyz"
BETTER_AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
